<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.droiddice"
      android:versionCode="2"
      android:versionName="1.1">
    <uses-sdk android:targetSdkVersion="14" android:minSdkVersion="7"/>
    <!-- if lite start -->
    <meta-data android:value="a14f4034cc8ec37" android:name="ADMOB_PUBLISHER_ID" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- if lite end -->
    <application android:label="@string/com.droiddice.lite.name" >
        <activity android:name=".ui.RollActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.PickActivity"></activity>
        <provider android:name=".datastore.DiceSetProvider"
            android:authorities="com.droiddice.lite.dicesetprovider"/>
        <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>
</manifest> 
